<%  
    var format = 'YYYY-MM-DD';
    if (is_archive()) format = "MM/DD";
%>
<li>
    <p class="title"><a href="<%- url_for(post.link) %>"><%= post.title %></a></p>
    <p class="description"><%- truncate(strip_html(post.content), {length: theme.excerptLength || 120, omission: '...'}) %>
      <span><a href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a></span>
    </p>
    <p class="tag">
      <%- partial('post/tag') %>
      <em class="tag-date fn-r"><%- date(post.date, format) %></em>
    </p>
</li>