<div class="main-right fn-r">
    <%- partial('_partial/banner', null) %>
    
    <% if(!is_home()){ %>
        <%- partial('_partial/sub-nav', {path: page.path}) %>
    <% } %>
    
    <div class="container <% if(path=='about/index.html'){ %>container-about <% } %> fn-c">
        <%- body %>
    </div>

    <%- partial('_partial/copyright', null) %>

    <%- partial('_partial/return-top', null) %>
</div>